<app-toolbar></app-toolbar>


<div>


  <form [formGroup]="registrationForm">
    <mat-card style="text-align: center">
      <br>
      Subject:
      <mat-form-field appearance="fill">
          <textarea style="overflow:hidden"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5" matInput formControlName="subject" placeholder="subject"
                    [(ngModel)]="subject" type="text">
          </textarea>
      </mat-form-field>
      <br>
      Status:
      <mat-form-field appearance="fill">
        <mat-select [(value)]="selectedStatus" formControlName="status">

          <mat-option value="NEW">NEW</mat-option>
          <mat-option value="IN_PROGRESS">IN PROGRESS</mat-option>
          <mat-option value="DONE">DONE</mat-option>

        </mat-select>

      </mat-form-field>
      <br>
      Assigned:
      <mat-form-field appearance="fill">
        <mat-select [(value)]="selectedUser" formControlName="username">
          <mat-option *ngFor="let user of users"
                      [value]="user.username">{{user.firstName}} {{user.lastName}}</mat-option>
        </mat-select>
      </mat-form-field>

    </mat-card>

    <mat-card class="demo-inline-calendar-card">
      Due date:
      <mat-calendar formControlName="dueDate" [(selected)]="dueDate"></mat-calendar>
      <button style="alignment: center" mat-raised-button (click)="submit()">Submit</button>
    </mat-card>

  </form>


</div>






